html, body {
    padding: 0;
}

h2, p {
    margin: 0;
    padding: 0;
}

body {
    max-width: 550px;
    margin: 0 auto;
    background-color: #222222;
}

.content-container{
    background-color: whitesmoke;
    margin-top: 40px;
    border: solid 1px #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-image: url('./images/header-img.png');
    background-size: cover;
    color: #ffffff;
}

header h1, header a {
    text-shadow: 5px 5px 20px #000000;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.125rem;
}

a {
    font-weight: 800;
    color: #ffffff;
}

form {
    display: flex;
    justify-content: center;
    position: relative;
    top: -15;
}

.search-bar {
    width: 340px;
    height: 35px;
    border-radius: 4px;
    border: solid 1px #cccccc;
}

.search-btn {
    padding: 5px 30px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    cursor: pointer;
}

.initial-display {
    display: flex;
    justify-content: center;
    padding: 200px 0px;
}

.results-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.movie-result {
    display: flex;
    flex-direction: row;
    margin: 20px 40px;
    gap: 20px;
}

.poster {
    width: 150px;
}

.movie-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-rating {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.title-rating p {
    font-size: .875rem;
    color: #111827;
}

.title-rating h2 {
    max-width: 200px;
}

.movie-runtime {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.movie-runtime p, button {
    font-size: .75rem;
    color: #111827;
}

.plot {
    font-size: .875rem;
    color: #6B7280;
}

hr {
    border: .5px solid #cccccc;
    margin: 0px 40px;
}